.square {
  border: 1px solid black;
  flex: 1 0 0;
}

.row-div{
  display: flex;
  flex: 1 0 0;
}

.divs-container {
  width: 512px;
  height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 10px solid black;

}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.changed {
  background-color: black;
}

button {
  width: max-content;
  height: max-content;
  padding: 16px;
}

h1 {
  margin: 32px 0 0 0;
}